{% extends "base.html" %}


{% block body %}
	<div class="all">
		<div id="map" style="height: 250px;"></div>
			<script type="text/javascript">
			  // The first parameter are the coordinates of the center of the map
			  // The second parameter is the zoom level
			  var map;
			  var loc='{{loc}}';
			  debugger;
			  if(loc==='True'){
			  	map = L.map('map').setView([{{locCoordinates.latitude}}, {{locCoordinates.longitude}}], 11);
			  }else{
			  	map= L.map('map').setView([38.734894, -9.139285], 5);
			  }
			  
			  // {s}, {z}, {x} and {y} are placeholders for map tiles
			  // {x} and {y} are the x/y of where you are on the map
			  // {z} is the zoom level
			  // {s} is the subdomain of cartodb
			   
			  var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
			    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'

			  });
			  
			  // Now add the layer onto the map
			  map.addLayer(layer);
			  // It even opens up a popup when you click it!

			  if(loc==='True'){
			  	L.marker([{{locCoordinates.latitude}}, {{locCoordinates.longitude}}]).addTo(map)
				  .bindPopup("<strong>me</strong>").openPopup();
			  }else{
			  	L.marker([38.734894, -9.139285]).addTo(map)
				  .bindPopup("<strong>Unbabel</strong>").openPopup();
			  }
				
			</script>
		<!-- The Modal -->
		<div class="content_other_than_map">
			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
			    <span class="close">&times;</span>
			    <h1>Detail</h1>
			    {% if detail== True%}
					<table>
						<tr>
							<td class="table_headers">Property</td>
							<td class="table_headers">Value</td>
						</tr>
						{% for key, value in details.iteritems() %}
						<tr>
							<td>{{key}}</td>
							<td>{{value}}</td>
						</tr>
						{% endfor %}
					</table>
				{%endif%}
			  </div>

			</div>

			<script>
				// Get the modal
				var modal = document.getElementById('myModal');

				// Get the button that opens the modal
				var btn = document.getElementById("myBtn");

				// Get the <span> element that closes the modal
				var span = document.getElementsByClassName("close")[0];

				// When the user clicks the button, open the modal 
				function displayModalFunc() {
				    modal.style.display = "block";
				}

				var loc='{{detail}}';
				debugger;
				if(loc==='True'){
					displayModalFunc()
				}else{
					modal.style.display = "none";
				}

				// When the user clicks on <span> (x), close the modal
				span.onclick = function() {
				    modal.style.display = "none";
				}

				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
				    if (event.target == modal) {
				        modal.style.display = "none";
				    }
				}
			</script>



			<div class="tables_wrapper">
				<div class="single_table">
					<h1>Locations</h1>
					<table>
						<tr>
							<td class="table_headers_location">Detail</td>
							<td class="table_headers_location">Name</td>
							<td class="table_headers_location">Description</td>
							<td class="table_headers_location">Servers</td>
						</tr>
						{% for location in locations %}
						<tr>
							<td>
								<form method="post" action="/detailsLocation">
									<button name="idLocation" type="submit" value="{{location.id}}">Detail</button>
								</form>
							</td>
							<td>{{location.name}}</td>
							<td>{{location.description}}</td>
							<td>
								<ul>
								{% for server in location.servers %}
									<li>{{server.name}}</li>
								{%endfor%}
								</ul>
							</td>
							
						</tr>
						{% endfor %}
					</table>

				</div>
				
				<div class="single_table">
					<h1>Servers</h1>
					<table>
						<tr>
							<td class="table_headers_Server">Detail</td>
							<td class="table_headers_Server">Name</td>
							<td class="table_headers_Server">Description</td>
							<td class="table_headers_Server">Applications</td>
						</tr>
						{% for server in servers %}
						<tr>
							<td>
								<form method="post" action="/detailsServer">
									<button name="idServer" type="submit" value="{{server.id}}">Detail</button>
								</form>
							</td>
							<td>{{server.name}}</td>
							<td>{{server.description}}</td>
							<td>
								<ul>
								{% for app in server.applications %}
									<li>{{app.name}}</li>
								{%endfor%}
								</ul>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="single_table">
					<h1>Applications</h1>
					<table>
						<tr>
							<td class="table_headers_app">Detail</td>
							<td class="table_headers_app">Name</td>
							<td class="table_headers_app">Description</td>
						</tr>
						{% for application in applications %}
						<tr>
							<td>
								<form method="post" action="/detailsApplication">
									<button name="idApplication" type="submit" value="{{application.id}}">Detail</button>
								</form>
							</td>
							<td>{{application.name}}</td>
							<td>{{application.description}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>	
			</div>
		</div>
		
		
	</div>
	
{% endblock %}